<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:name=".controller.ByAudioApplication"
        android:requestLegacyExternalStorage="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.ByAudio"
        tools:targetApi="33">
        <activity
            android:name=".controller.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".controller.MainActivity"
            android:exported="true"
            android:launchMode="singleTop">
        </activity>
        <activity
            android:name=".controller.FolderDetailActivity"
            android:exported="true"
            android:parentActivityName=".controller.MainActivity">
        </activity>
        <service
            android:name=".controller.service.PlayerService"
            android:foregroundServiceType="mediaPlayback"
            android:stopWithTask="true">
        </service>
        <receiver
            android:name=".controller.service.ActionReceiver">
        </receiver>
    </application>
</manifest>